html {
    height: 100%;
}

body,
html {
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 18px;
    margin: 0;
    background-color: var(--color-bg);
}

body {
    overscroll-behavior-y: contain;
    min-height: 100%;
    overflow-x: hidden;
    display: grid;
    place-items: center;
}
